@media screen and (min-width: 320px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
  }
  .meal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .cartquantity {
    position: relative;
    top: 20px;
    right: -20px;
    background-color: red;
    color: black;
    padding: 4px;
    border-radius: 50%;
  }

  .cartimage {
    position: relative;
    top: 50px;
    right: 25px;
    height: 40px;
    width: 40px;
  }
  .mealtitle {
    font-size: 16px;
  }
  .meal img {
    height: 90px;
    width: 90px;
  }
  .dishcalories {
    padding-top: 20%;
  }
  .itemquantity {
    display: flex;
    justify-content: space-between;
    background-color: green;
    border-radius: 16px;
    font-size: 20px;
    width: 100px;
    padding-top: 5px;
    color: #ffffff;
  }
  .itemquantity button {
    background: none;
    border: none;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .meal img {
    height: 90px;
    width: 90px;
  }
  .dishcalories {
    padding-top: 10%;
  }
}
